.slideDemos {
	width: 100%;
}

.slideDemos-single {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-top: 1em;
}

.slideDemos-single .pogoSlider {
	height: 225px;
}

.slideDemos-single h3 {
	text-align: center;
	margin-top: 90px;
	color: #fff;
	font-weight: 700;
}